{% extends "core/layout.html" %}

{% block body %}

    <div class="container">
        <h2>{{ date }} Statement</h2>
        <table class="table table-hover">
            <thead class="table-light">
                <tr>
                    <th scope="col" colspan="4">{{ account.name }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% if carry_over >= 0 %}
                        <td scope="col" colspan="4" style="text-align:right">Carry-over: <span class="text-success">{{ carry_over|floatformat:2 }}</span></td>
                    {% else %}
                        <td scope="col" colspan="4" style="text-align:right">Carry-over: <span class="text-danger">{{ carry_over|floatformat:2 }}</span></td>
                    {% endif %}
                </tr>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction.settle_date }}</td>
                        {% if transaction.category.type == "I" %}
                            <td style="text-align:left">{{ transaction.description }}
                            {% if transaction.installments %}
                                - {{ transaction.current_installment }}/{{ transaction.installments }}
                            {% endif %}
                            </td>
                            <td class="text-success">{{ transaction.amount }}</td>
                        {% else %}
                            <td style="text-align:right">{{ transaction.description }}
                            {% if transaction.installments %}
                                - {{ transaction.current_installment }}/{{ transaction.installments }}
                            {% endif %}
                            </td>
                            <td class="text-danger">{{ transaction.amount }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="4" style="text-align:right"><strong>Balance: </strong>{{ balance|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}