{% extends "core/layout.html" %}

{% block body %}

    <h1>Archive</h1>

    {% if message %}
        <div id="message" class="alert alert-success w-25 mx-auto">{{ message }}</div>
    {% elif error %}
        <div id="message" class="alert alert-danger w-25 mx-auto">{{ error }}</div>
    {% endif %}

    <div class="container">
        <form class="row" action="{% url 'archive' %}" method="post">
            {% csrf_token %}
            <div class="col-auto">
                <label for="from">From</label>
                {% if search_parameters.from %}
                    <input class="form-control" type="date" id="from_date" name="from_date" value="{{ search_parameters.from }}">
                {% else %}
                    <input class="form-control" type="date" id="from_date" name="from_date">
                {% endif %}
            </div>
            <div class="col-auto">
                <label for="to">To</label>
                {% if search_parameters.to %}
                    <input class="form-control" type="date" id="to_date" name="to_date" value="{{ search_parameters.to }}">
                {% else %}
                    <input class="form-control" type="date" id="to_date" name="to_date">
                {% endif %}
            </div>
            <div class="col-auto">
                <br>
                {% if search %}
                    <input type="search" value="{{ search }}" aria-label="Search" id="search" name="search" class="form-control" autocomplete="off">
                {% else %}
                    <input type="search" placeholder="Search" aria-label="Search" id="search" name="search" class="form-control" autocomplete="off">
                {% endif %}
            </div>
            <div class="col-auto">
                <br>
                {% if search_parameters.expense_income_option == "I" %}
                    <input type="radio" class="form-radio-input" name="expense_income_option" value="E" id="expense"> Expense</input>
                    <input type="radio" class="form-radio-input" name="expense_income_option" value="I" id="income" checked> Income</input>
                {% else %}
                    <input type="radio" class="form-radio-input" name="expense_income_option" value="E" id="expense" checked> Expense</input>
                    <input type="radio" class="form-radio-input" name="expense_income_option" value="I" id="income"> Income</input>
                {% endif %}
                &nbsp;&nbsp;|&nbsp;&nbsp;
                {% if search_parameters.is_unsettled %}
                    <input type="radio" class="form-radio-input" name="is_unsettled" value="" id="settled"> Settled</input>
                    <input type="radio" class="form-radio-input" name="is_unsettled" value="True" id="not_settled" checked> Unsettled</input>
                {% else %}
                    <input type="radio" class="form-radio-input" name="is_unsettled" value="" id="settled" checked> Settled</input>
                    <input type="radio" class="form-radio-input" name="is_unsettled" value="True" id="not_settled"> Unsettled</input>
                {% endif %}
            </div>
            <div class="col-auto">
                <br>
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
    </div>

    <div class="container">
        {% if search_parameters %}
            {% if page.object_list %}
                <div class="container">
                    <hr class="border-1 border-dark" />
                    <table class="table table-hover">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Description</th>
                                <th scope="col">Payment Info</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Due date</th>
                                <th scope="col">Settle date</th>
                                <th scope="col">Category</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in page.object_list %}
                                <tr>
                                    <td>
                                        <form action="{% url 'edit' %}" method="get">
                                            <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                                            <span class="edit-button" onclick="submitForm(this)">
                                                {{ transaction.description }} 
                                                {% if transaction.installments != None %}
                                                    - {{ transaction.current_installment }} of {{ transaction.installments }}
                                                {% endif %}
                                            </span>
                                        </form>
                                    </td>
                                    <td>{{ transaction.payment_info }}</td>
                                    <td>{{ transaction.amount }}</td>
                                    <td>{{ transaction.due_date }}</td>
                                    {% if transaction.settle_date %}
                                        <td class="settled">{{ transaction.settle_date }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    <td>{{ transaction.category.name }}</td>
                                    <td class="slide-down-button {{ transaction.id }}" onclick="showMore({{ transaction.id }})">˅</td>
                                </tr>
                                <tr id="{{ transaction.id }}" style="display:none">
                                    <td style="text-align:right"><strong>Settle description:</strong></td>
                                    {% if transaction.settle_description %}
                                        <td colspan="3" style="text-align:left">{{ transaction.settle_description }}</td>
                                    {% else %}
                                        <td colspan="3">-</td>
                                    {% endif %}
                                    <td style="text-align:right"><strong>Settle account:</strong></td>
                                    {% if transaction.settle_account %}
                                        <td style="text-align:left">{{ transaction.settle_account.name }}</td>
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                    <td>
                                        <form action="{% url 'edit' %}" method="get">
                                            <input type="hidden" name="transaction_id" value="{{ transaction.id }}">
                                            <img class="edit-button" src="static/core/icons/edit.svg" alt="Edit icon" onclick="submitForm(this)">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <nav class="pagination-menu d-flex justify-content-center">
                    <ul class="pagination">
                        <form action="{% url 'archive' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="from_date" value="{{ search_parameters.from }}">
                            <input type="hidden" name="to_date" value="{{ search_parameters.to }}">
                            <input type="hidden" name="search" value="{{ search }}">
                            <input type="hidden" name="is_unsettled" value="{{ search_parameters.is_unsettled }}">
                            <input type="hidden" name="expense_income_option" value="{{ search_parameters.expense_income_option }}">
                            <div class="btn-group">
                                {% if page.has_previous %}
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="1">&laquo;</button></li>
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="{{ page.previous_page_number }}">&lsaquo;</button></li>
                                {% elif page.paginator.num_pages > 1 %}
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="" style="color:black;" disabled>&laquo;</button></li>
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="" style="color:black;" disabled>&lsaquo;</button></li>
                                {% endif %}
                                {% if max_page > 1 %}
                                    {% for n in iterator %}
                                        {% if n == page.number %}
                                            <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="" style="color:black;" disabled>{{ n }}</button></li>
                                        {% else %}
                                            <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="{{ n }}">{{ n }}</button></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                {% if page.has_next %}
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="{{ page.next_page_number }}">&rsaquo;</button></li>
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="{{ page.paginator.num_pages }}">&raquo;</button></li>
                                {% elif page.paginator.num_pages > 1 %}
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="" style="color:black;" disabled>&rsaquo;</button></li>
                                    <li class="page-item"><button name="page" type="submit" class="btn btn-default page-link" value="" style="color:black;" disabled>&raquo;</button></li>
                                {% endif %}
                            </div>
                        </form>
                    </ul>
                </nav>

            {% else %}
            <p>No data found.</p>
            {% endif %}
        {% endif %}
    </div>


{% endblock %}