{% extends "core/layout.html" %}

{% block body %}


{% if date %}
    <div class="container">
        {% if expense_income_exists and projected_exists %}
        <div class="btn-menu mb-1">
        {% else %}
        <div class="btn-menu mb-1" style="display:none;">
        {% endif %}
            <button class="btn btn-outline-dark me-2" id="overview-button" onclick="swap_overview_tab(this)" disabled>Overview</button>
            <button class="btn btn-outline-dark" id="projection-button" onclick="swap_overview_tab(this)">Projection</button>
        </div>

        {% if expense_income_exists %}
        <div id="overview">
        {% else %}
        <div id="overview" style="display:none;">
        {% endif %}
            <h2>Overview</h2>
            <br>
            <h5>{{ date }}</h5>
            <br>
            <div class="container">
                <table class="table table-hover table-borderless">
                    <thead class="table-light">
                        <tr>
                            <th>Category</th>
                            <th>%</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" style="text-align: center;">i n c o m e</td>
                        </tr>
                        {% for data in income_data %}
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>{{ data.percent|floatformat:2 }}%</td>
                                <td>{{ data.amount|floatformat:2 }}</td>
                                <td class="slide-down-button {{ data.id }}" onclick="showMore({{ data.id }})">˅</td>
                            </tr>
                            <tbody id="{{ data.id }}" style="display:none">
                            {% for transaction in data.transactions %}
                                <tr>
                                    <td width="20"></td>
                                    <td>
                                        • {{ transaction.description }} 
                                        {% if transaction.installments %}
                                            - {{ transaction.current_installment }}/{{ transaction.installments }}
                                        {% endif %}
                                    </td>
                                    <td>{{ transaction.amount|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                        <tr>
                            <td colspan="3" style="text-align:right"><strong>Month total:</strong></td>
                            <td>{{ income_month_balance|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center;">e x p e n s e</td>
                        </tr>
                        {% for data in expense_data %}
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>{{ data.percent|floatformat:2 }}%</td>
                                <td>{{ data.amount|floatformat:2 }}</td>
                                <td class="slide-down-button {{ data.id }}" onclick="showMore({{ data.id }})">˅</td>
                            </tr>
                            <tbody id="{{ data.id }}" style="display:none">
                            {% for transaction in data.transactions %}
                                <tr>
                                    <td width="20"></td>
                                    <td>
                                        • {{ transaction.description }} 
                                        {% if transaction.installments %}
                                            - {{ transaction.current_installment }}/{{ transaction.installments }}
                                        {% endif %}
                                    </td>
                                    <td>{{ transaction.amount|floatformat:2 }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        {% endfor %}
                        <tr>
                            <td colspan="3" style="text-align:right"><strong>Month total:</strong></td>
                            <td>{{ expense_month_balance|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right"><strong>Month result:</strong> {{ month_result|floatformat:2 }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
            </div>
        </div>

        {% if expense_income_exists %}
        <div id="projection" style="display:none;">
        {% else %}
        <div id="projection">
        {% endif %}
            <h2>Projection</h2>
            <br>
            <h5>{{ date }}</h5>
            <br>
            <div class="container">
                <table class="table table-hover table-borderless">
                    <thead class="table-light">
                        <tr>
                            <th>Category</th>
                            <th>%</th>
                            <th>Balance</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" style="text-align: center;">i n c o m e</td>
                        </tr>
                        {% for data in projected_income_data %}
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>{{ data.percent|floatformat:2 }}%</td>
                                <td>{{ data.amount|floatformat:2 }}</td>
                                <td class="slide-down-button {{ data.id }}" onclick="showMore({{ data.id }})">˅</td>
                            </tr>
                            <tbody id="{{ data.id }}" style="display:none">
                                {% for transaction in data.transactions %}
                                    <tr>
                                        <td width="20"></td>
                                        <td>
                                            • {{ transaction.description }} 
                                            {% if transaction.installments %}
                                                - {{ transaction.current_installment }}/{{ transaction.installments }}
                                            {% endif %}
                                        </td>
                                        <td>{{ transaction.due_date|date:"M d" }}</td>
                                        <td>{{ transaction.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                                {% for transaction in data.projected_transactions %}
                                    <tr>
                                        <td width="20"></td>
                                        <td>
                                            • {{ transaction.description }} 
                                            {% if transaction.installments %}
                                                - {{ transaction.current_installment }}/{{ transaction.installments }}
                                            {% endif %}
                                        </td>
                                        <td>{{ transaction.due_date|date:"M d" }}</td>
                                        <td>{{ transaction.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                        <tr>
                            <td colspan="3" style="text-align:right"><strong>Projected month total:</strong></td>
                            <td>{{ projected_income_month_balance|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: center;">e x p e n s e</td>
                        </tr>
                        {% for data in projected_expense_data %}
                            <tr>
                                <td>{{ data.name }}</td>
                                <td>{{ data.percent|floatformat:2 }}%</td>
                                <td>{{ data.amount|floatformat:2 }}</td>
                                <td class="slide-down-button {{ data.id }}" onclick="showMore({{ data.id }})">˅</td>
                            </tr>
                            <tbody id="{{ data.id }}" style="display:none">
                                {% for transaction in data.transactions %}
                                    <tr>
                                        <td width="20"></td>
                                        <td>
                                            • {{ transaction.description }} 
                                            {% if transaction.installments %}
                                                - {{ transaction.current_installment }}/{{ transaction.installments }}
                                            {% endif %}
                                        </td>
                                        <td>{{ transaction.due_date|date:"M d" }}</td>
                                        <td>{{ transaction.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                                {% for transaction in data.projected_transactions %}
                                    <tr>
                                        <td width="20"></td>
                                        <td>
                                            • {{ transaction.description }} 
                                            {% if transaction.installments %}
                                                - {{ transaction.current_installment }}/{{ transaction.installments }}
                                            {% endif %}
                                        </td>
                                        <td>{{ transaction.due_date|date:"M d" }}</td>
                                        <td>{{ transaction.amount|floatformat:2 }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                        <tr>
                            <td colspan="3" style="text-align:right"><strong>Projected month total:</strong></td>
                            <td>{{ projected_expense_month_balance|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align:right"><strong>Projected month result:</strong> {{ projected_month_result|floatformat:2 }}</td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <hr>
            </div>
        </div>
    </div>
{% else %}
    <div class="forms">
        <h2>Overview</h2>
        <br>
        {% if message %}
            <div id="message" class="alert alert-success">{{ message }}</div>
        {% elif error %}
            <div id="message" class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form action="{% url 'overview' %}" method="post">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" autocomplete="off" id="date" name="date" type="month" onchange="this.form.submit()" required>
                <label for="date">Date</label>
            </div>
        </form>
    </div>
{% endif %}

{% endblock %}